<h1> Resaurants</h1>
<% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.category %></td>
        <td><%= link_to 'Show', restaurant %></td>
      </tr>
      <br>
<% end %>

<%= link_to 'New Restaurant', new_restaurant_path %>
